<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Giftureframe</title>
</head>

<body style="overflow: hidden; margin: 0;">

  <script>
    const cleanArray = (backendList) => {
      newArray = backendList.replaceAll('&#39', '')
      newArray =  newArray.replaceAll(';', '')
      newArray =  newArray.replaceAll('[', '')
      newArray =  newArray.replaceAll(']', '')
      newArray =  newArray.replaceAll(',', '')
      newArray =  newArray.split(' ')
      return newArray
    }

    myArray = cleanArray(`{{current_gif}}`);

    let count = 1;

    function cycleArray() {
      let index = count % myArray.length;
      console.log(`${count}: ${myArray[index]}`);
      $("#badge").attr("src", myArray[index]);
      if (count < myArray.length - 1) {
        count++;
      } else {
        count = 0;
      }
    }
    ;
    setInterval(cycleArray, 4200);
  </script>

<!-- SET HEIGHT AND MAX-WIDTH OF <img> TAG BELOW TO THE SIZE OF YOUR SCREEN -->
<img id="badge" src="{{current_gif[0]}}" style="object-fit: cover; height: 720px; max-width: 720px;" />

</body>

</html>